<div class="group-edit">
  <h1> <%= "Editing #{@group.name} Group" %> </h1>

  <%= form_for @group do |f| %>
    <paper-input-decorator label="name">
      <%= f.text_field :name, :class => "form-control", placeholder: @group.name %>
    </paper-input-decorator>
    <%= f.submit "update name" %>
  <% end %>

  <h3> 
    Group Leaders: 
    <%= form_for :membership, url: add_member_group_path(group_id: params[:id]) do |l| %>
      <span class="add-leader"> <%= l.label :add_leader %> </span>
      <%= l.select :user_id, User.all.collect { |u| [u.username, u.id] }, {include_blank: true} %>
      <%= l.hidden_field :level, value: Membership::LEVELS[:leader] %>
      <%= l.submit "add" %>
    <% end %>
  </h3>
  <%= @group.leader_names %>

  <h3> Group Members:
    <%= form_for :membership, url: add_member_group_path(group_id: params[:id]) do |m| %>
      <span class="add-member"> <%= m.label :add_member %> </span>
      <%= m.select :user_id, User.all.collect { |u| [u.username, u.id]}, {include_blank: true} %>
      <%= m.hidden_field :level, value: Membership::LEVELS[:regular] %>
      <%= m.submit "add", :class => "btn btn-default btn-xs" %>
    <% end %>
  </h3>
  <%= @group.member_names %>
</div>