<div class="group-profile">
  <h1> <%= "#{@group.name} Group" %> </h1>

  <div class="group-page">
    <% if current_user.is_admin? or current_user.leader_of(@group.id) %>
      <%= link_to edit_group_path(@group) do %>
        <paper-button href="/" class="edit-group-btn">
          Edit <i class="fa fa-folder"></i>
        </paper-button>
      <% end %>
    <% end %>

    <% if !@categories.empty? %>
    <%= paginate @categories %>
      <h4> Categories </h4>
      <%= render partial: "categories/category_list_item", locals: {subcategories: @categories} %>
    <% end %>

    <% if !@leaders.empty? %>
    <%= paginate @leaders %>
      <h4> Leaders </h4>
      <div class="group-leaders">
        <% @leaders.each do |leader| %>
        <i class="fa fa-user"></i>
          <%= link_to leader.user.name, leader.user, :class => "unstyled-link" %>
        <% end %>
      </div>
    <% end %>

    <% if !@members.empty? %>
    <%= paginate @members %>
      <h4> Members </h4>
      <div class="group-members">
        <% @members.each do |member| %>
          <i class="fa fa-user"></i>
          <%= link_to member.user.name, member.user, :class => "unstyled-link" %>
        <% end %>
      </div>
    <% end %>

    <% if !@documents. empty? %>
      <%= paginate @documents %>
      <h4> Documents Uploaded </h4>
      <%= render partial: "documents/list/document_list_item", locals: {docs: @documents} %>
    <% end %>
  </div>
</div>