<div class="edit-form">
  <%= form_for user do |f| %>

    <paper-input-decorator floatingLabel label="username">
      <%= f.label user.username %> 
    </paper-input-decorator>

    <paper-input-decorator floatingLabel label="email">
      <%= f.text_field :email %> 
    </paper-input-decorator>

    <paper-input-decorator floatingLabel label="full name">
      <%= f.text_field :full_name %> 
    </paper-input-decorator>

    <%= f.submit "Update Profile" %>

  <% end %>
</div>