<div class="container">
  <%= form_for user do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :username %> <br>
        <%= f.label :email %> <br>
        <%= f.label :full_name %> <br>
      </div>
      <div class="col-md-6">
        <%= f.text_field :username %> <br>
        <%= f.text_field :email %> <br>
        <%= f.text_field :full_name %> <br>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-2">
        <%= f.submit "Update Profile", :class => "btn btn-sm btn-default" %>
      </div> 
    </div>
  <% end %>
</div>