<% if !doc.current_revision.nil? and can_view_document(doc) %> 
  <div class= "unstyled_link">
    <%= link_to doc do %>
      <div class="document_listitem_hover">
        <%= image_tag "icons/#{small_document_icon(doc.current_revision.extension_type)}" %>
        <b> <%= "#{doc.title.truncate(36)}" %> </b> <%= " - #{doc.description.truncate(100)}" %>
        <div class="pull-right">
          <%= "Date: #{doc.current_revision.updated_at.to_date}" %>
          <br/>
          <% if !doc.user.name.nil? %>
            <b> <%= "by: #{doc.user.name}" %> </b>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>