<paper-input-decorator label="title">
  <%= f.text_field :title, :maxlength => 70 %>
</paper-input-decorator>

<paper-input-decorator label="description">
  <%= f.text_field :description, :maxlength => 140 %>
</paper-input-decorator>

<core-label horizontal layout>
  <paper-checkbox>
    <%= f.check_box :is_private, checked: false %>
  </paper-checkbox>
  <div vertical layout>
    <h4> Make Private </h4>
    <div> Checking this will hide the document from non-group members.</div>
  </div>
</core-label>

<core-label horizontal layout>
  <paper-checkbox>
    <%= f.check_box :is_writable, checked: false %>
  </paper-checkbox>
  <div vertical layout>
    <h4> Everyone Can Edit </h4>
    <div> Checking this box allows non-group members to revise this document. </div>
  </div>
</core-label>

<%= f.hidden_field :category_id, value: @category.id %>

<!-- Upload file for document creation, hide for document editing -->
<% if include_revision %>
  <%= f.fields_for :revision do |rev| %>
  <core-label horizontal layout>
    <paper-input-decorator label="file">
      <%= rev.file_field :file %>
    </paper-input-decorator>

    <core-item>
      or
    </core-item>

    <paper-input-decorator label="external link">
      <%= rev.text_field :doc_link, placeholder: "https://docs.google.com/document/..." %>
    </paper-input-decorator>
  </core-label>
  <% end %>
<% end %>

<paper-button class="hover" raised hover role="submit">
  <button> submit document </button>
</paper-button>