<% docs.each do |doc| %>
  <% if !doc.current_revision.nil? %>
  <a href="<%= document_path(doc, view_style: "list") %>" class="unstyled-link">
    <div horizontal layout center class="document-list-item">
      <div> <%= image_tag "icons/#{small_document_icon(doc.current_revision.extension_type)}" %> </div>
      <div class="document-title"> <%= doc.title %> </div>
      <div class="upload-details"> <%= "Uploaded on #{doc.current_revision.updated_at.to_date}" %> <br />
      <% if !doc.user.nil? and !doc.user.name.nil? %>
        <%= "by #{doc.user.name}" %> 
      <% end %> </div>
    </div>
  </a>
  <% end %>
<% end %>
