<div class="categories-form">
  <paper-input-decorator label="name"> 
    <%= f.text_field :name %>
  </paper-input-decorator>
  <paper-input-decorator label="description">
    <%= f.text_field :description, :class => "form-control" %>
  </paper-input-decorator>

  <paper-item>
    <%= f.label :owning_group %>
    <div class="category-owner">
      <%= f.select :group_id, @groups, {include_blank: true} %>
    </div>
  </paper-item>
  
  <paper-item>
    <%= f.label :is_private %>
    <%= f.check_box :is_private %>
  </paper-item>

  <paper-item>
    <%= f.label :is_writable %>
    <%= f.check_box :is_writable %>
  </paper-item>
  
  <paper-item>
    <%= f.label :is_featured %>
    <%= f.check_box :is_featured %>
  </paper-item>

  <br />
  <%= f.submit %>
</div>