<%= form_for category, url: category_url do |f| %> 
  <h4><%= title %></h4>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :name %> <br />
      <%= f.label :description %> <br />
      <%= f.label :featured? %> <br />
      <%= f.label :group %> <br />
    </div>
    <div class="col-sm-4">
      <%= f.text_field :name %> <br />
      <%= f.text_field :description %> <br />
      <%= f.check_box :is_featured %> <br />
      <%= f.select :group_id, @groups, selected: @category.group_id %> <br />
    </div>
  </div>
  <div class="row">
    <div class="container">
      <br />
      <%= f.hidden_field :parent_id, value: params[:id] %>
      <%= f.submit "save", :class => "btn btn-xs btn-default" %>
    </div>
  </div>
<% end %>