<div class="subcategory-form">
  <%= form_for category, url: category_url do |f| %> 
    <h3 class="heading"><%= title %></h3>
 
    <paper-input-decorator label="name">
      <%= f.text_field :name %> 
    </paper-input-decorator>

    <paper-input-decorator label="description">
      <%= f.text_field :description %> 
    </paper-input-decorator>

    <div class="owning-group">
      <%= f.label :owning_group %>
      <%= f.select :group_id, @groups, selected: @category.group_id %> 
    </div>

    <core-label horizontal layout>
      <paper-checkbox>
        <%= f.check_box :is_featured %> 
      </paper-checkbox>
      <div vertical layout>
        <h4> Featured Category </h4>
        <div> Checking this will allow the category to be shown on the front page.</div>
      </div>
    </core-label>
    
    <%= f.hidden_field :parent_id, value: params[:id] %>
    <hr />
    <paper-button class="hover" raised hover role="submit">
      <button> create </button>
    </paper-button>
  <% end %>
</div>