<!-- Dropdown menu -->
<div class="header-menu">
  <paper-menu-button>
    <paper-icon-button icon="menu" noink></paper-icon-button>
    <paper-dropdown class="dropdown">
      <core-menu class="menu">
        <% if current_user.nil? %>
          <!-- Login -->
          <paper-item>
            <%= link_to "/auth/cas" do %>
              <i class="fa fa-sign-in"></i> Sign In
            <% end %>
          </paper-item>
        <% else %>
          <!-- User Links -->
          <paper-item>
            <%= link_to user_path(current_user) do %> 
              <i class="fa fa-user"></i> Profile
            <% end %>
          </paper-item>

          <paper-item>
           <%= link_to "/logout" do %> 
              <i class="fa fa-sign-out"></i> Sign Out
            <% end %>
          </paper-item>

          <!-- Admin links -->
          <% if current_user.is_admin? %>
            <paper-item>
              <!-- dividing space -->
            </paper-item>

            <paper-item>
              <%= link_to users_path do %>
                Users
              <% end %>
            </paper-item>

            <paper-item>
              <%= link_to groups_path do %>
                Groups 
              <% end %>
            </paper-item>

            <paper-item>
              <%= link_to manage_categories_path do %>
                Categories
              <% end %>
            </paper-item>

            <paper-item>
              <%= link_to "New Group", new_group_path %>
            </paper-item>

            <paper-item>
              <%= link_to "New Root Category", new_category_path %>
            </paper-item>
          <% end %>
        <% end %>
      </core-menu>
    </paper-dropdown>
  </paper-menu-button>
</div>

<!-- Title -->
<%= link_to root_url, {:class => "navbar-header", "data-no-turbolink" => true} do %>
  <h3>Flagship Documents</h3>
<% end %>

<!-- Search -->
<%= render partial: "layouts/search" %>
