<!DOCTYPE html>
<html>
  <head>
    <title>Flagship Docs</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= html_import_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
  </head>
  <body unresolved>
    <core-header-panel>
      <core-toolbar>
        <!-- Toolbar content -->
        <%= render partial: "layouts/header" %>
        <%= render partial: "layouts/messages" %>
      </core-toolbar>
      <core-drawer-panel horizontal layout>
        <div drawer class="category-tree"> 
          <div class="category-tree-scroll">
            <!-- Upload -->
            <div class="upload-container">
              <%= link_to new_document_path(category_id: params[:id]) do %>
                <paper-button class="upload" role="button">
                  <i class="fa fa-file"> Upload </i>
                </paper-button>
              <% end %>
            </div>
            <!-- Category Tree -->
              <%= render partial: "categories/categories_nav", locals: {categories:  Category.roots.sort_by {|c| c.name}} %>
            </div>
          </div>
        </div>
        <core-splitter direction="left"></core-splitter>
        <div main class="main-panel">
          <!-- Page content -->
          <%= yield %>
        </div>
      </core-drawer-panel>
    </core-header-panel>
  </body>
</html>